<main>
  <section id="section-login">
    <h2>Login</h2>
    <form action="submit">
    <label for="staticUsuario">Usuário ou e-mail</label>
    <input
      type="text"
      class="form-control"
      id="staticUsuario"
      placeholder="email@exemplo.com.br"
    />
    <label for="inputPassword2">Senha</label>
    <input
      type="password"
      class="form-control"
      id="inputPassword2"
      placeholder="Digite sua senha"
    />
    <button type="submit" class="btn btn-primary mb-3">Confirmar</button>
    </form>
  </section>
</main>
