<main>
  <section id="section-banner">
    <div
      id="carouselExampleAutoplaying"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src=".\assets\img\florian-olivo-Mf23RF8xArY-unsplash.jpg"
            class="d-block w-100"
            alt="Jogos de PC"
          />
        </div>
        <div class="carousel-item">
          <img
            src=".\assets\img\jeshoots-com-eCktzGjC-iU-unsplash.jpg"
            class="d-block w-100"
            alt="Jogos de PlayStation"
          />
        </div>
        <div class="carousel-item">
          <img
            src=".\assets\img\sam-pak-X6QffKLwyoQ-unsplash.jpg"
            class="d-block w-100"
            alt="Jogos de Xbox"
          />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>

  <h2>Destaques</h2>

  <mat-grid-list cols="3">
    <mat-grid-tile>
      <mat-card class="example-card">
        <img
          mat-card-image
          src=".\assets\img\mika-baumeister-HUyICL8qbEE-unsplash.jpg"
          alt="Imagem de um brinquedo do Super Mario"
        />
        <mat-card-header>
          <mat-card-title>Colecionáveis</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Miniaturas da turma do Super Mario</p>
        </mat-card-content>
        <mat-card-actions>
          <p>R$ 99,99</p>
          <span class="example-spacer"></span>
          <button mat-button>Comprar</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="example-card">
        <img
          mat-card-image
          src=".\assets\img\onur-binay-9TgH_ZPmIYM-unsplash.jpg"
          alt="Imagem de uma pessoa jogando no celular"
        />
        <mat-card-header>
          <mat-card-title>Créditos para seus jogos mobile</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Freefire e outros</p>
        </mat-card-content>
        <mat-card-actions>
          <p>R$ 49,99</p>
          <button mat-button>Comprar</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="example-card">
        <img
          mat-card-image
          src=".\assets\img\possessed-photography-DDHNI1Y4wm8-unsplash.jpg"
          alt="Imagem de um Famicom"
        />
        <mat-card-header>
          <mat-card-title>Vintage</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Antiguidades? Temos!</p>
        </mat-card-content>
        <mat-card-actions>
          <p>R$ 499,99</p>
          <button mat-button>Comprar</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</main>
